<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to FashionNXT Event </h1>
    <p>
      You have reversed for <%= @number %> people.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>