<div id='referral' data-controller='refer update'
    data-refer-url-value='/api/v1/events/<%= @event_id %>/refer?token=<%= @token %>'
    data-update-url-value='/api/v1/events/<%= @event_id %>/refer'
    data-action='update:created->refer#disableSubmit'>
  <template data-refer-target='template'>
    <div> 
    </div>
  </template>
  <div class='mb-3' data-refer-target='dom'></div>
  <p>
    Please enter the email to which you want to receive your purchase link.
  </p>
  <form id='form-referral' data-action='update#sendFromForm'>
    <div class='input-group mb-3'>
      <input type='hidden' name='token' value='<%= @token %>'>
      <input type='email' name='email' placeholder='Email'>
      <button class='btn btn-outline-success' type='submit' value='submit' form='form-referral'
          data-refer-target='submit' data-action='dynamic#updateText' data-dynamic-text-param='Submitted'>Submit</button>
    </div>
  </form>
</div>
